{% extends "layout.html" %}

{% block title %}
    SELL
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select class="form-control" name="Symbol">
                <option disabled selected value="">Symbol</option>
                {% for symbol in symbols%}
                    <option value="{{symbol}}">{{symbol}}</option>
                {%endfor%}
            </select>
        </div>
        <div class="form-group">
            <input class="form-control" name="Quantity" min = "1" placeholder="Quantity" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}